.material-tooltip
    margin-top: -2%

#navbutton,
#endbtn
    &:hover
        background: #ffa726 !important


.contact
    &:hover
        background: #64b5f6 !important
// .panel
//     z-index: 5

//     .panel-fixed
//         z-index: 1
//     .panel-inner
//         width: 100%
//     .panel-fixed .panel-inner
//         position: fixed
//         top: 0
//         left: 0
//         z-index: 2

#player
    margin: 0 auto

.modal
    .open
        margin-top: 15%

#contact-form
    height: 100%
    width: 0
    position: fixed
    z-index: 99999999
    left: 0
    top: 0
    background-color: rgba(255, 255, 255, 0.8)
    overflow-x: hidden
    transition: 0.5s

    .email
        position: relative
        top: 25%
        width: 100%
        text-align: center
        margin-top: 30px

    .closebtn
        position: absolute
        top: 10px
        right: 45px
        font-size: 60px

.img__ctabutton
    &:hover
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);