@import common
@import navigation
@import 'node_modules/materialize-css/sass/materialize.scss'

.masthead
    position: relative
    height: 100vh
    width: 100%

.main-bg-img
    background: url('../media/img/productsection1hero.png') top center fixed no-repeat
    margin: 0
    padding: 0
    top: 0
    left: 0
    right: 0
    bottom: 0
    max-height: 100%
    max-width: 100%
    min-height: 100%
    position: fixed
    z-index: -999
    
.hero__msg
    top: 30%
    // margin-top: 17.5%

    p
        font-size: 25px

.meet-the-family
    position: relative
    background: white
    height: 100vh
    width: auto
    text-align: center

    h2
        padding-top: 2rem

.phone-charge
    height: auto
    width: auto

.phone-charge-bg
    background: url('../media/img/productsec3back.png') center fixed no-repeat
    background-size: cover
    min-height: 86vh

    h1
        margin: 0
        padding: 2rem
        color: white
        text-shadow: 2px 2px #000

    .content
        padding-top: 2rem

    p
        color: white
        font-size: 25px
        text-shadow: 2px 2px #000
        padding-top: 2rem