@import url('https://fonts.googleapis.com/css?family=Lato')
@import 'node_modules/materialize-css/sass/materialize.scss'
@import main
@import responsive
@import interact

$font-stack:    'Lato', sans-serif
$default-color: #595959

html
    font-family: $font-stack
    width: 100%

section
    overflow: hidden

h2
    font-size: 45px


.font
    font-family: $font-stack !important
    color: $default-color !important

.z-depth-0
    background-color: transparent
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)

.logo
    padding-top: 10px
    height: 60px

nav
    text-shadow: 1px 1px #000

.nav-wrapper 
    text-transform: uppercase

.navbar-fixed
    height: 0
    z-index: 9999

.navbar-black
    background-color: rgba(0, 0, 0, 0.6)

.img__ctabutton
    height: 50px

video
    object-fit: cover
    position: relative
    width: auto
    height: auto
    min-width: 100%
    min-height: 100%
    overflow: hidden
    z-index: -9999
    top: 0
    
.video-play
    min-height: 100%
    max-width: 100%
    height: 100vh
    width: 100vw
    left: 0
    top: 0

.masthead
    position: relative
    height: 100vh
    width: 100%

.video-bg,
.hero-msg
    position: absolute

.video-bg
    z-index: -1000
    // background: #000
    max-width: 100%
    min-height: 100vh
    background-repeat: no-repeat
    background-attachment: scroll
    position: fixed

.mobile-img-bg
    background: url('../media/img/yzlight.png') top center
    background-size: cover
    z-index: -1000
    height: 100%
    width: auto
    
.hero__msg
    top: 40%
    left: 0%
    z-index: 8
    position: absolute
    color: white
    text-align: center
    text-shadow: 2px 2px #222
    width: 100%
    
    img
        margin-top: 2%

.full-video
    top: 80%
    left: 1%
    z-index: 5
    position: relative
    text-shadow: 1px 1px #222
    font-size: 1.5rem
    
    a,
    a:link,
    a:visited,
    a:active
        text-decoration: none
        color: white
        z-index: 99999999
        
.scroll
    background: url('../media/img/sec3back.jpg') bottom center fixed  no-repeat
    background-size: cover
    // padding-top: 2rem
    min-height: 100%
    overflow: hidden

.take-control
    min-height: 755px
    position: relative
    height: auto
    width: auto

.content
    padding-top: 18%
    height: 350px
    width: auto

    .copy
        background: #fff
        height: inherit
        box-shadow: 10px 10px 15px #222
        

        h2
            padding-top: 22%
            font-size: 36px
            color: #595959

        p
            padding-top: 3%
            font-size: 16px
            color: #595959
    
    .image-set
        display: inline
        height: 350px
        img
            height: inherit
            width: auto

.workswith
    padding-top: 2rem
    height: auto
    width: 100vw
    text-align: center

#works-with-icons
    padding-top: 2rem
    padding-bottom: 2rem

    img
        height: 150px
        width: auto

.demo
    height: auto
    width: 100%
    margin: 0 auto
    text-align: center
    padding-bottom: 2rem
    overflow: hidden

    h2
        color: white
        padding-top: 2rem
        text-shadow: 1px 1px #222

    img
        padding-top: 2rem
        max-height: 80%

// .features
//     height: auto
//     width: 100vw
//     text-align: center
//     padding-top: 2rem

//     #feats
//         width: 100%
//         padding-top: 2rem
//         // text-align: center
//         margin-left: 10%

//         img
//             height: 100px
//             width: auto
        
//         .box
//             box-shadow: 2px 3px 2px #222
//             width: 18%
//             min-height: 300px 
//             height: auto
//             margin-right: 2rem
//             margin-bottom: 1rem
//             float: left

        // .feature-icon-bg
        //     background: #ecf0f1
        //     padding-top: 1rem
        //     padding-bottom: 1rem

//         .caption
//             padding-top: 1rem
//             text-align: center
//         h5
//             font-size: 18px

//         p
//             padding-top: 1rem
//             padding-left: 1rem
//             padding-right: 1rem
//             padding-bottom: 1rem


.features
    height: auto
    width: 100%
    text-align: center
    padding-top: 2rem

    #feats
        padding-top: 2rem
        margin-left: 0.25rem
        
    .feature-item
        float: left
        margin-top: 1rem
        margin-bottom: 1rem

    .box
        box-shadow: 2px 2px 9px #ddd
        padding-bottom: 1rem
        border: 1px solid #ddd
        text-align: center
        min-height: 320px
        height: 100%
        width: auto

    img
        height: 80px
        width: auto
    
    .caption
        text-align: center

    .feature-icon-bg
        background: #ecf0f1
        padding-top: 1rem
        padding-bottom: 1rem
    
    h5
        font-size: 21px
        line-height: 24px
        margin-top: 10px

    p
        padding-top: 10px
        padding-right: 10px
        padding-left: 10px
        margin-bottom: 10px
    

.enjoy
    padding-top: 1rem
    color: white
    height: 80vh
    width: 100%
    
    .content-block
        width: 50%
        padding-top: 25%
        text-align: center

    .btn
        margin-top: 2rem
        text-align: center

    .enjoy-bg
        height: 100%
        background: url('../media/img/section7back.jpg') bottom center no-repeat
        background-size: cover
        z-index: -1

footer
    height: 90px
    background: #fff !important

    .footer-logo
        height: 60px
        padding-top: 10px
        margin-left: 15px

    .socialbuttons
        @extend .footer-logo
        margin-left: 0px

    .footer-nav
        padding-top: 5px
        background: white !important
    
    .careers
        color: #2196f3
        text-shadow: none
